{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div>
    <form id="pointBForm" action="/" method="post">
        <div class="row pt-3">
            <h5>Masukkan nilai-nilai berikut</h5>
            <div class="col-md-4">
                <label for="latitud" class="form-label">Latitud (°U)</label>
                <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#latitudmodal">
                    ?
                </button>
                  <!-- Modal -->
                    <div class="modal fade" id="latitudmodal" tabindex="-1" aria-labelledby="latitudModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="latitudModalLabel">Latitud</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Nilai latitud boleh dimasukkan antara 90 hingga -90, nilai positif bagi utara dan negatif bagi selatan.
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                {% if latitud is defined %}
                <input type="text" class="form-control" id="latitud" placeholder={{latitud}} value="{{latitud}}" name="latitud" >
                {% else %}
                <input type="text" class="form-control" id="latitud" placeholder="5.41144" name="latitud" >
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="longitud" class="form-label">Longitud (°T)</label>
                <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#longitudmodal" >
                    ?
                </button>
                  <!-- Modal -->
                  <div class="modal fade" id="longitudmodal" tabindex="-1" aria-labelledby="longitudModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="longitudModalLabel">Longitud</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Nilai Longitud boleh dimasukkan antara 180 hingga -180,
                            dengan nilai positif bagi timur dan negatif bagi barat.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% if longitud is defined %}
                <input type="text" class="form-control" id="longitud" name="longitud" placeholder={{longitud}} value="{{longitud}}">
                {% else %}
                <input type="text" class="form-control" id="longitud" name="longitud" placeholder="100.19672" >
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="elevation" class="form-label">Ketinggian (m)</label>
                <button type="button" class="btn btn-warning m-1"data-bs-toggle="modal" data-bs-target="#ketinggianModal" >
                    ?
                </button>
                  <!-- Modal -->
                  <div class="modal fade" id="ketinggianModal" tabindex="-1" aria-labelledby="ketinggianModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ketinggianModalLabel">Ketinggian</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Ketinggian ialah ketinggian lokasi dari aras laut,
                            dengan unit meter. Nilai ketinggian akan memberi kesan pada tekanan, serta sudut junaman bagi waktu Syuruk
                            dan waktu Maghrib.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% if elevation is defined %}
                <input type="text" class="form-control" id="elevation" name="elevation" placeholder={{elevation}} value="{{elevation}}">
                {% else %}
                <input type="text" class="form-control" id="elevation" name="elevation" placeholder="40">
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="ketepatanlokasi" class="form-label">Lokasi GPS</label>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" name="locationbutton" class="btn btn-info" onclick="getLocation()">Lokasi</button>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="ketepatanlokasi" name="ketepatanlokasi" placeholder="Ketepatan" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="datetime" class="form-label">Tarikh dan Masa:</label>
                <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#tarikhModal">
                    ?
                </button>
                  <!-- Modal -->
                  <div class="modal fade" id="tarikhModal" tabindex="-1" aria-labelledby="tarikhModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tarikhModalLabel">Tarikh dan Masa</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Tarikh merujuk pada hari, bulan dan tahun. Ini menentukan tarikh waktu solat harian, atau bulanan
                serta jadual kiblat yang hendak dihitung. Masa merujuk pada jam, minit dan saat. Ini akan menentukan
                masa bagi jadual kiblat yang hendak dihitung.
                            </p>
                            <p>
                                Hitungan dalam SahabatFalak ini menggunakan kalendar Julian bagi tarikh pada dan sebelum Khamis 4 Oktober 1582, dan
                                menggunakan kalendar Gregorian bermula pada dan selepas Jumaat 15 Oktober 1582.
                            </p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% if original_date is defined %}
                <input type="datetime-local" class="form-control" id="datetime" name="datetime"  step="1" placeholder="{{original_date}}" value="{{original_date}}">
                {% else %}
                <input type="datetime-local" class="form-control" id="datetime" name="datetime"  step="1" required>
                {% endif %}
            </div>
            <div class="col-md-4" name="toggleDiv" hidden>
                <label for="temperature" class="form-label">Suhu (°C)</label>
                <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#suhuModal">
                    ?
                </button>
                  <!-- Modal -->
                  <div class="modal fade" id="suhuModal" tabindex="-1" aria-labelledby="suhuModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="suhuModalLabel">Suhu</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Parameter suhu dan tekanan ini menentukan kadar pembiasan. Ia memberi kesan pada waktu syuruk dan
                maghrib. Nilai suhu adalah dalam unit darjah Celcius, manakala tekanan dalam unit milibar.  Nilai suhu
                ditetapkan pada 27 darjah Celcius.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% if temperature is defined %}
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder={{temperature}} value="{{temperature}}">
                {% else %}
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder="27.0">
                {% endif %}
            </div>
            <div class="col-md-4" name="toggleDiv" hidden>
                <label for="pressure" class="form-label">Tekanan (mbar)</label>
                <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#tekananModal">
                    ?
                </button>
                  <!-- Modal -->
                  <div class="modal fade" id="tekananModal" tabindex="-1" aria-labelledby="tekananModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tekananModalLabel">Tekanan</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Parameter suhu dan tekanan ini menentukan kadar pembiasan. Ia memberi kesan pada waktu syuruk dan
                maghrib. Nilai suhu adalah dalam unit darjah Celcius, manakala tekanan dalam unit milibar. Nilai yang digunakan
                bagi tekanan ialah 1013.25 milibar, iaitu nilai piawai bagi tekanan pada aras laut.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% if pressure is defined %}
                <input type="text" class="form-control" id="pressure" name="pressure" placeholder={{pressure}} value="{{pressure}}">
                {% else %}
                <input type="text" class="form-control" id="pressure" name="pressure" value="1013.25">
                {% endif %}
            </div>
            <div class="col-md-4" name="toggleDiv" hidden>
                <label for="timezone" class="form-label">Zon Waktu</label>
                <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#zonwaktuModal">
                    ?
                </button>
                  <!-- Modal -->
                  <div class="modal fade" id="zonwaktuModal" tabindex="-1" aria-labelledby="zonwaktuModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="zonwaktuModalLabel">Zon Waktu</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Parameter zon waktu menentukan zon waktu bagi hitungan. Parameter Asia/Kuala_Lumpur adalah bersesuaian
                bagi hitungan di Malaysia. Jika parameter Lain-lain dipilih, zon waktu akan ditentukan berdasarkan
                latitud dan longitud yang diberi.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                <select class="form-select form-select-lg mb-3" name="timezone" id="timezone">
                    {% if timezone == 'lain' %}
                    <option value="asia_KL">Asia/Kuala_Lumpur</option>
                    <option selected value="lain">Lain-lain</option>
                    {% else %}
                    <option selected value="asia_KL">Asia/Kuala Lumpur</option>
                    <option value="lain">Lain-lain</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="pilihan" class="form-label">Pilih Jenis Data</label>
                <select class="form-select form-select-lg mb-3" name="pilihan">
                    {% if pilihan == 'waktu-solat' %}
                    <option selected value="waktu-solat">Waktu Solat</option>
                    {% else %}
                    <option value="waktu-solat">Waktu Solat</option>
                    {% endif %}
                    {% if pilihan == 'Kiblat' %}
                    <option selected value="Kiblat">Kiblat</option>
                    {% else %}
                    <option value="Kiblat">Kiblat</option>
                    {% endif %}
                    {% if pilihan == 'efemerisKiblat' %}
                    <option selected value="efemerisKiblat">Jadual Kiblat</option>
                    {% else %}
                    <option value="efemerisKiblat">Jadual Kiblat</option>
                    {% endif %}
                    {% if pilihan == 'waktuSolatBulanan' %}
                    <option selected value="waktuSolatBulanan">Waktu Solat Bulanan</option>
                    {% else %}
                    <option value="waktuSolatBulanan">Waktu Solat Bulanan</option>
                    {% endif %}
                    {% if pilihan == 'DataBulanMatahari' %}
                    <option selected value="DataBulanMatahari">Data Bulan dan Matahari</option>
                    {% else %}
                    <option value="DataBulanMatahari">Data Bulan dan Matahari</option>
                    {% endif %}
                    {% if pilihan == 'TukarKalendar' %}
                    <option selected value="TukarKalendar">Tukar ke Tarikh Hijri</option>
                    {% else %}
                    <option value="TukarKalendar">Tukar ke Tarikh Hijri</option>
                    {% endif %}
                </select>
            </div>
            <div class="pt-2">
                <button type="button" id="toggleButton" class="btn btn-outline-success">Tambah Parameter</button>
            </div>
            <div class="pt-2">
                <button type="submit" class="btn btn-primary">Hitung</button>
            </div>
        </div>
    </form>
    <hr>
    <br>
    <div>
        {% if pilihan == 'waktu-solat' %}
        <h2>Waktu Solat</h2>
        <p>
            Kriteria hitungan waktu solat boleh dilihat di <a href="/panduan#parameterSolat">Panduan</a>
        </p>
        <div class="p-2">
            <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Solat</th>
                        <th scope="col">Waktu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Subuh</td>
                        <td>{{subuh}}</td>
                    </tr>
                    <tr>
                        <td>Syuruk</td>
                        <td>{{syuruk}}</td>
                    </tr>
                    <tr>
                        <td>Zohor</td>
                        <td>{{zohor}}</td>
                    </tr>
                    <tr>
                        <td>Asar</td>
                        <td>{{asar}}</td>
                    </tr>
                    <tr>
                        <td>Maghrib</td>
                        <td>{{maghrib}}</td>
                    </tr>
                    <tr>
                        <td>Isyak</td>
                        <td>{{isyak}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% elif pilihan == 'DataBulanMatahari' %}
        <h2>Data Bulan dan Matahari</h2>
        <p>Waktu: {{parsed_date}}</p>
        <div class="p-2">
            <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fasa Bulan
                            <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#databulanModal">
                                ?
                            </button>
                           <!-- Modal -->
                            <div class="modal fade" id="databulanModal" tabindex="-1" aria-labelledby="databulanModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="databulanModalLabel">Fasa Bulan</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Fasa bulan adalah berdasarkan sudut longitud ekliptik Bulan.
                                        </p>
                                        <p>
                                            Sudut ≤ 75° -> Bulan Sabit Muda
                                        </p>
                                        <p>
                                            Sudut > 75°, Sudut ≤ 105° -> Bulan Separa Muda
                                        </p>
                                        <p>
                                            Sudut > 105°, Sudut ≤ 165° -> Bulan Hampir Purnama Muda
                                        </p>
                                        <p>
                                            Sudut > 165°, Sudut ≤ 195° -> Bulan Purnama
                                        </p>
                                        <p>
                                            Sudut > 195°, Sudut ≤ 255° -> Bulan Hampir Purnama Tua
                                        </p>
                                        <p>
                                            Sudut > 255°, Sudut ≤ 285° -> Bulan Separa Tua
                                        </p>
                                        <p>
                                            Sudut > 285° -> Bulan Sabit Tua
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </td>
                        <td>{{fasa_bulan}}</td>
                    </tr>
                    <tr>
                        <td>Azimut Bulan</td>
                        <td>{{azimut_b}}</td>
                    </tr>
                    <tr>
                        <td>Altitud Bulan</td>
                        <td>{{altitud_b}}</td>
                    </tr>
                    <tr>
                        <td>Azimut Matahari</td>
                        <td>{{azimut_m}}</td>
                    </tr>
                    <tr>
                        <td>Altitud Matahari</td>
                        <td>{{altitud_m}}</td>
                    </tr>
                    <tr>
                        <td>Jarak Lengkung Bulan-Matahari</td>
                        <td>{{jarak_lengkung}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% elif pilihan == 'Kiblat' %}
        <h2>Kiblat</h2>
        <p>Azimut Kiblat: {{azimut}} °U</p>
        <p>Jarak ke Kaabah: {{jarak}} km</p>
        <li>Waktu bayang searah kiblat bermula: {{waktu_bayang[0]}}</li>
        <li>Waktu bayang searah kiblat berakhir: {{waktu_bayang[1]}}</li>
        <button type="button" id="updatmap" name="updatemap" class="btn btn-info" onclick="updateMap()">Papar Peta</button>
        <div id="map"></div>
        <br>
        {% elif pilihan == 'efemerisKiblat' %}
        <h2>Jadual Kiblat</h2>
        <p>Azimut Kiblat: {{azimut}} °U</p>
        <p>Beza Azimut-Kiblat ialah sudut antara Matahari dan arah kiblat di lokasi tempatan.
            Jika nilai positif, arah kiblat ialah sudut tersebut mengikut arah jam.
            Jika nilai negatif, arah kiblat ialah sudut tersebut mengikut arah lawan jam.
        </p>
        <br>
        <div class="container mb-2">
            <div class="tab_box">
                <button class="tab_btn">Azimut(°)</button>
                <button class="tab_btn active">Azimut perpuluhan(°)</button>
                <button class="tab_btn">Beza Azimut-Kiblat(°)</button>
                <div class="line"></div>
            </div>
            <br>
            <div class="content_box">
                <div class="content">
                    <table class="table table-bordered table-striped-columns">
                        <thead>
                            <tr>
                                <th scope="col">Masa</th>
                                <th scope="col">Azimut(°)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(efemeris_kiblat|length) %}
                            <tr>
                                <td>{{efemeris_kiblat.index[i]}}</td>
                                <td>{{efemeris_kiblat["Azimut"][i]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content_box">
                <div class="content active">
                    <table class="table table-bordered table-striped-columns">
                        <thead>
                            <tr>
                                <th scope="col">Masa</th>
                                <th scope="col">Azimut perpuluhan(°)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(efemeris_kiblat|length) %}
                            <tr>
                                <td>{{efemeris_kiblat.index[i]}}</td>
                                <td>{{efemeris_kiblat["Azimut_Perpuluhan"][i]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content_box">
                <div class="content">
                    <table class="table table-bordered table-striped-columns">
                        <thead>
                            <tr>
                                <th scope="col">Masa</th>
                                <th scope="col">Beza Azimut-Kiblat(°)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(efemeris_kiblat|length) %}
                            <tr>
                                <td>{{efemeris_kiblat.index[i]}}</td>
                                <td>{{efemeris_kiblat["Beza Sudut Kiblat"][i]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% elif pilihan == 'waktuSolatBulanan' %}
        <div class="table-responsive-lg">
            <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Tarikh</th>
                        <th scope="col">Subuh</th>
                        <th scope="col">Syuruk</th>
                        <th scope="col">Zohor</th>
                        <th scope="col">Asar</th>
                        <th scope="col">Maghrib</th>
                        <th scope="col">Isyak</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(takwim_bulanan|length) %}
                    <tr>
                        <td>{{takwim_bulanan.index[i]}}</td>
                        <td>{{takwim_bulanan["Subuh"][i]}}</td>
                        <td>{{takwim_bulanan["Syuruk"][i]}}</td>
                        <td>{{takwim_bulanan["Zohor"][i]}}</td>
                        <td>{{takwim_bulanan["Asar"][i]}}</td>
                        <td>{{takwim_bulanan["Maghrib"][i]}}</td>
                        <td>{{takwim_bulanan["Isyak"][i]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elif pilihan == 'TukarKalendar' %}
        <div class="row">
            <h2>Tukar ke Tarikh Hijri</h2>
            <p>Nombor Hijri ialah bilangan hari sejak 1 Zulhijjah 10H
                <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#nomborhijriModal">
                    ?
                </button>
            </p>
            <!-- Modal -->
            <div class="modal fade" id="nomborhijriModal" tabindex="-1" aria-labelledby="nomborhijriModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="nomborhijriModalLabel">Nombor Hijri</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Nombor hijri ialah bilangan hari sejak 1 Zulhijjah 10H, bersamaan dengan Khamis 27 Februari 632M
                            bagi Kalendar Julian, atau 1 Mac 632M bagi kalendar Gregorian (proleptik). Pemilihan ini sejajar
                            dengan tarikh Khutbah Wada' Rasulullah pada Jumaat 9 Zulhijjah 10H ketika di Padang Arafah.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <p>Tukaran Tarikh Hijri ini berdasarkan kriteria Mabims 2021</p>
            <div class="col-6">
                <table class="table table-bordered table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Tarikh Masihi</th>
                            <th scope="col">Hari Hijri</th>
                            <th scope="col">Bulan Hijri</th>
                            <th scope="col">Tahun Hijri</th>
                            <th scope="col">Nombor Hijri</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{shortened_date}}</td>
                            <td>{{tukar_tarikh[0]}}</td>
                            <td>{{tukar_tarikh[1]}}</td>
                            <td>{{tukar_tarikh[2]}}</td>
                            <td>{{tukar_tarikh[3]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<script>
    const tabs=document.querySelectorAll(".tab_btn");
    const all_content=document.querySelectorAll(".content");

    tabs.forEach((tab, index)=>{
        tab.addEventListener('click', (e)=>{
            tabs.forEach(tab=>{tab.classList.remove('active')});
            tab.classList.add('active');
            var line=document.querySelector('.line');
            line.style.width = e.target.offsetWidth + "px";
            line.style.left = e.target.offsetLeft + "px";

            all_content.forEach(content=>{content.classList.remove('active')})
            all_content[index].classList.add('active');
        })
    })
</script>
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("ketepatanlokasi").value = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude.toFixed(4);;
        var longitude = position.coords.longitude.toFixed(4);;
        var elevation = position.coords.altitude.toFixed(1);;
        var accuracy = position.coords.accuracy.toFixed(1);
        var timestamp = position.timestamp;

        var newtimestamp = parseInt(timestamp, 10);

        // Convert milliseconds to a Date object
        var date = new Date(newtimestamp);

        // Format the date to YYYY-MM-DDTHH:MM:SS (datetime-local input format)
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        var hours = ('0' + date.getHours()).slice(-2);
        var minutes = ('0' + date.getMinutes()).slice(-2);
        var seconds = ('00' + date.getSeconds()).slice(-2);

        var formattedDate = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;

        // Set the value of the datetime-local input
        document.getElementById("datetime").value = formattedDate;

        document.getElementById("latitud").value = latitude;
        document.getElementById("longitud").value = longitude;
        document.getElementById("elevation").value = elevation;
        document.getElementById("ketepatanlokasi").value =
            "Ketepatan: " + accuracy + " m";
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("ketepatanlokasi").value = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("ketepatanlokasi").value = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("ketepatanlokasi").value = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("ketepatanlokasi").value = "An unknown error occurred.";
                break;
        }
    }
</script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>

    // Predefined Point A coordinates
    var map = null;
    var pointA = [21.4225, 39.8262]; // Change to your predetermined coordinates

    var lineLayer = null;
    var markerB = null;
    var mapboxAccessToken = "{{ mapbox_access_token }}";

    function initializeMap() {
            // If map already exists, remove it
            if (map) {
                map.remove();
            }

            // Initialize the map and set its view to Point A
            map = L.map('map').setView(pointA, 13);

            // Add Mapbox satellite tile layer
            L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-v9/tiles/256/{z}/{x}/{y}@2x?access_token=' + mapboxAccessToken, {
                maxZoom: 19,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                             'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(map);

            // Add marker for Point A
            L.marker(pointA).addTo(map).bindPopup('Kaabah').openPopup();
        }

    function updateMap() {
        var lat = parseFloat(document.getElementById('latitud').value);
        var lng = parseFloat(document.getElementById('longitud').value);
        var pointB = [lat, lng];
        var pointC = [lat+0.0000, lng+0.001]
        var pointD = [lat-0.0001, lng+0.001]
        var pointE = [lat-0.0002, lng+0.001]
        var pointF = [lat-0.0003, lng+0.001]
        var pointG = [lat-0.0004, lng+0.001]
        var pointH = [lat-0.0005, lng+0.001]
        initializeMap();

        var markerB = L.marker(pointB).addTo(map).bindPopup('Lat: ' + lat + ' Long: ' + lng).openPopup();

        // Draw a line between Point A and Point B
        lineLayer = L.polyline([pointA, pointB], { color: 'red'}).addTo(map);
        lineLayer = L.polyline([pointA, pointC], { color: 'blue', opacity: 0.3 }).addTo(map);
        lineLayer = L.polyline([pointA, pointD], { color: 'blue', opacity: 0.3 }).addTo(map);
        lineLayer = L.polyline([pointA, pointE], { color: 'blue', opacity: 0.3 }).addTo(map);
        lineLayer = L.polyline([pointA, pointF], { color: 'blue', opacity: 0.3 }).addTo(map);
        lineLayer = L.polyline([pointA, pointG], { color: 'blue', opacity: 0.3 }).addTo(map);
        lineLayer = L.polyline([pointA, pointH], { color: 'blue', opacity: 0.3 }).addTo(map);

        // Adjust map view to focus on Point B with a zoom level of 15
        map.setView(pointB, 30);
    };

</script>
<script>
    document.getElementById('toggleButton').addEventListener('click', function() {
        var divs = document.querySelectorAll('div[name="toggleDiv"][hidden]');
        var button = document.getElementById('toggleButton');
        var suhu = document.getElementById('temperature')
        var tekanan = document.getElementById('pressure')
        if (divs.length > 0) {
            divs.forEach(function(div) {
            div.removeAttribute('hidden');
            });
            button.textContent = 'Hapus Parameter';
        } else {
            var allDivs = document.querySelectorAll('div[name="toggleDiv"]');
            allDivs.forEach(function(div) {
            div.setAttribute('hidden', '');
            });
            button.textContent = 'Tambah Parameter';
            suhu.value = 27.0
            tekanan.value = 1013.25
        }
    });
  </script>

{% endblock %}

