{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div>
    <form action="/" method="post">
        <div class="row pt-3">
            <h5>Masukkan nilai-nilai berikut</h5>
            <div class="col-md-4">
                <label for="latitud" class="form-label">Latitud (°U)</label>
                {% if latitud is defined %}
                <input type="text" class="form-control" id="latitud" placeholder={{latitud}} value="{{latitud}}" name="latitud" >
                {% else %}
                <input type="text" class="form-control" id="latitud" placeholder="5.41144" name="latitud" >
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="longitud" class="form-label">Longitud (°T)</label>
                {% if longitud is defined %}
                <input type="text" class="form-control" id="longitud" name="longitud" placeholder={{longitud}} value="{{longitud}}">
                {% else %}
                <input type="text" class="form-control" id="longitud" name="longitud" placeholder="100.19672" >
                {% endif %}
            </div>
            <div class="col-md-2">
                <label for="elevation" class="form-label">Ketinggian (m)</label>
                {% if longitud is defined %}
                <input type="text" class="form-control" id="elevation" name="elevation" placeholder={{elevation}} value="{{elevation}}">
                {% else %}
                <input type="text" class="form-control" id="elevation" name="elevation" placeholder="40">
                {% endif %}
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" onclick="getLocation()">Get Location</button>
            </div>
            <div class="col-md-4">
                <label for="datetime" class="form-label">Tarikh dan Masa:</label>
                {% if original_date is defined %}
                <input type="datetime-local" class="form-control" id="datetime" name="datetime"  step="1" placeholder="{{original_date}}" value="{{original_date}}">
                {% else %}
                <input type="datetime-local" class="form-control" id="datetime" name="datetime"  step="1">
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="temperature" class="form-label">Suhu (°C)</label>
                {% if temperature is defined %}
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder={{temperature}} value="{{temperature}}">
                {% else %}
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder="27.0">
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="pressure" class="form-label">Tekanan (mbar)</label>
                {% if pressure is defined %}
                <input type="text" class="form-control" id="pressure" name="pressure" placeholder={{pressure}} value="{{pressure}}">
                {% else %}
                <input type="text" class="form-control" id="pressure" name="pressure" value="1013.25">
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="timezone" class="form-label">Zon Waktu</label>
                <select class="form-select form-select-lg mb-3" name="timezone" id="timezone">
                    {% if timezone == 'lain' %}
                    <option value="asia_KL">Asia/Kuala_Lumpur</option>
                    <option selected value="lain">Lain-lain</option>
                    {% else %}
                    <option selected value="asia_KL">Asia/Kuala Lumpur</option>
                    <option value="lain">Lain-lain</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="pilihan" class="form-label">Pilih Jenis Data</label>
                <select class="form-select form-select-lg mb-3" name="pilihan">
                    <option selected value="waktu-solat">Waktu Solat</option>
                    <option value="Kiblat">Kiblat</option>
                    <option value="efemerisKiblat">Jadual Kiblat</option>
                    <option value="waktuSolatBulanan">Waktu Solat Bulanan</option>
                    <option value="DataBulanMatahari">Data Bulan dan Matahari</option>
                    <option value="TukarKalendar">Tukar ke Tarikh Hijri</option>
                  </select>
            </div>
            <div class="pt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-info" onclick="getLocation()">Get Location</button>
    <div id="locationResult"></div>
    <hr>
    <br>
    <div>
        {% if pilihan == 'waktu-solat' %}
        <h2>Waktu Solat</h2>
        <div class="p-2">
            <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Solat</th>
                        <th scope="col">Waktu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Subuh</td>
                        <td>{{subuh}}</td>
                    </tr>
                    <tr>
                        <td>Syuruk</td>
                        <td>{{syuruk}}</td>
                    </tr>
                    <tr>
                        <td>Zohor</td>
                        <td>{{zohor}}</td>
                    </tr>
                    <tr>
                        <td>Asar</td>
                        <td>{{asar}}</td>
                    </tr>
                    <tr>
                        <td>Maghrib</td>
                        <td>{{maghrib}}</td>
                    </tr>
                    <tr>
                        <td>Isyak</td>
                        <td>{{isyak}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% elif pilihan == 'DataBulanMatahari' %}
        <h2>Waktu Solat</h2>
        <p>Waktu: {{parsed_date}}</p>
        <div class="p-2">
            <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fasa Bulan</td>
                        <td>{{fasa_bulan}}</td>
                    </tr>
                    <tr>
                        <td>Azimut Bulan</td>
                        <td>{{azimut_b}}</td>
                    </tr>
                    <tr>
                        <td>Altitud Bulan</td>
                        <td>{{altitud_b}}</td>
                    </tr>
                    <tr>
                        <td>Azimut Matahari</td>
                        <td>{{azimut_m}}</td>
                    </tr>
                    <tr>
                        <td>Altitud Matahari</td>
                        <td>{{altitud_m}}</td>
                    </tr>
                    <tr>
                        <td>Jarak Lengkung Bulan-Matahari</td>
                        <td>{{jarak_lengkung}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% elif pilihan == 'Kiblat' %}
        <h2>Kiblat</h2>
        <p>Azimut Kiblat: {{azimut}} °U</p>
        <p>Jarak ke Kaabah: {{jarak}} km</p>
        <li>Waktu bayang searah kiblat bermula: {{waktu_bayang[0]}}</li>
        <li>Waktu bayang searah kiblat berakhir: {{waktu_bayang[1]}}</li>
        <br>
        {% elif pilihan == 'efemerisKiblat' %}
        <div class="p-2">
            <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Masa</th>
                        <th scope="col">Azimut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(efemeris_kiblat|length) %}
                    <tr>
                        <td>{{efemeris_kiblat.index[i]}}</td>
                        <td>{{efemeris_kiblat["Azimut"][i]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elif pilihan == 'waktuSolatBulanan' %}
        <div>
            <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Tarikh</th>
                        <th scope="col">Subuh</th>
                        <th scope="col">Syuruk</th>
                        <th scope="col">Zohor</th>
                        <th scope="col">Asar</th>
                        <th scope="col">Maghrib</th>
                        <th scope="col">Isyak</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(takwim_bulanan|length) %}
                    <tr>
                        <td>{{takwim_bulanan.index[i]}}</td>
                        <td>{{takwim_bulanan["Subuh"][i]}}</td>
                        <td>{{takwim_bulanan["Syuruk"][i]}}</td>
                        <td>{{takwim_bulanan["Zohor"][i]}}</td>
                        <td>{{takwim_bulanan["Asar"][i]}}</td>
                        <td>{{takwim_bulanan["Maghrib"][i]}}</td>
                        <td>{{takwim_bulanan["Isyak"][i]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elif pilihan == 'TukarKalendar' %}
        <div class="row">
            <h2>Tukar ke Tarikh Hijri</h2>
            <p>Nombor Hijri ialah bilangan hari sejak 1 Zulhijjah 10H</p>
            <p>Tukaran Tarikh Hijri ini berdasarkan kriteria Mabims 2021</p>
            <div class="col-6">
                <table class="table table-bordered table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Tarikh Masihi</th>
                            <th scope="col">Hari Hijri</th>
                            <th scope="col">Bulan Hijri</th>
                            <th scope="col">Tahun Hijri</th>
                            <th scope="col">Nombor Hijri</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{shortened_date}}</td>
                            <td>{{tukar_tarikh[0]}}</td>
                            <td>{{tukar_tarikh[1]}}</td>
                            <td>{{tukar_tarikh[2]}}</td>
                            <td>{{tukar_tarikh[3]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<script>
    const tabs=document.querySelectorAll(".tab_btn");
    const all_content=document.querySelectorAll(".content");

    tabs.forEach((tab, index)=>{
        tab.addEventListener('click', (e)=>{
            tabs.forEach(tab=>{tab.classList.remove('active')});
            tab.classList.add('active');
            var line=document.querySelector('.line');
            line.style.width = e.target.offsetWidth + "px";
            line.style.left = e.target.offsetLeft + "px";

            all_content.forEach(content=>{content.classList.remove('active')})
            all_content[index].classList.add('active');
        })
    })
</script>
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("locationResult").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var elevation = position.coords.altitude;
        document.getElementById("latitud").value = latitude;
        document.getElementById("longitud").value = longitude;
        document.getElementById("elevation").value = elevation;
        document.getElementById("locationResult").innerHTML =
            "Latitude: " + latitude + "<br>Longitude: " + longitude + "<br>Altitud: " + elevation;
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("locationResult").innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("locationResult").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("locationResult").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("locationResult").innerHTML = "An unknown error occurred.";
                break;
        }
    }
</script>
{% endblock %}

