{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
    .responsive-img {
      width: 100%;
      height: auto;
      max-width: 900px; /* Adjust max-width as needed */
    }

    @media (max-width: 1200px) {
      .responsive-img {
        max-width: 800px;
      }
    }

    @media (max-width: 992px) {
      .responsive-img {
        max-width: 800px;
      }
    }

    @media (max-width: 768px) {
      .responsive-img {
        max-width: 600px;
      }
    }

    @media (max-width: 576px) {
      .responsive-img {
        max-width: 100%;
      }
    }
</style>
<h3>Almanak Anak Bulan</h3>

<div>
    <form action="/sahabatfalakplus" method="post">
        <div class="row pt-3">
            <h5>Masukkan nilai-nilai berikut</h5>
            <div class="col-md-4">
                <label for="latitud" class="form-label">Latitud (°U)</label>
                {% if latitud is defined %}
                <input type="text" class="form-control" id="latitud" placeholder={{latitud}} value="{{latitud}}" name="latitud" >
                {% else %}
                <input type="text" class="form-control" id="latitud" placeholder="5.41144" name="latitud" >
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="longitud" class="form-label">Longitud (°T)</label>
                {% if longitud is defined %}
                <input type="text" class="form-control" id="longitud" name="longitud" placeholder={{longitud}} value="{{longitud}}">
                {% else %}
                <input type="text" class="form-control" id="longitud" name="longitud" placeholder="100.19672" >
                {% endif %}
            </div>
            <div class="col-md-2">
                <label for="elevation" class="form-label">Ketinggian (m)</label>
                {% if elevation is defined %}
                <input type="text" class="form-control" id="elevation" name="elevation" placeholder={{elevation}} value="{{elevation}}">
                {% else %}
                <input type="text" class="form-control" id="elevation" name="elevation" placeholder="40">
                {% endif %}
            </div>
            <div class="col-md-2">
                <label for="ketepatanlokasi" class="form-label">Lokasi GPS</label>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" name="locationbutton" class="btn btn-info" onclick="getLocation()">Lokasi</button>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="ketepatanlokasi" name="ketepatanlokasi" placeholder="Ketepatan" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="datetime" class="form-label">Tarikh dan Masa:</label>
                {% if original_date is defined %}
                <input type="datetime-local" class="form-control" id="datetime" name="datetime"  step="1" placeholder="{{original_date}}" value="{{original_date}}">
                {% else %}
                <input type="datetime-local" class="form-control" id="datetime" name="datetime"  step="1" required>
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="temperature" class="form-label">Suhu (°C)</label>
                {% if temperature is defined %}
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder={{temperature}} value="{{temperature}}">
                {% else %}
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder="27.0">
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="pressure" class="form-label">Tekanan (mbar)</label>
                {% if pressure is defined %}
                <input type="text" class="form-control" id="pressure" name="pressure" placeholder={{pressure}} value="{{pressure}}">
                {% else %}
                <input type="text" class="form-control" id="pressure" name="pressure" value="1013.25">
                {% endif %}
            </div>
            <div class="col-md-4">
                <label for="timezone" class="form-label">Zon Waktu</label>
                <select class="form-select form-select-lg mb-3" name="timezone" id="timezone">
                    {% if timezone == 'lain' %}
                    <option value="asia_KL">Asia/Kuala_Lumpur</option>
                    <option selected value="lain">Lain-lain</option>
                    {% else %}
                    <option selected value="asia_KL">Asia/Kuala Lumpur</option>
                    <option value="lain">Lain-lain</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="lokasi_rasmi" class="form-label">Lokasi Rasmi</label>
                <select class="form-select form-select-lg mb-3" name="lokasi_rasmi" id="lokasi_rasmi">
                    <option value="PFST">Pusat Falak Sheikh Tahir, Pulau Pinang</option>
                    <option selected value="Tiada">Tidak Berkaitan</option>
                    <option value="Malindo">Pantai Malindo, Pulau Pinang (Tidak Rasmi)</option>
                    <option value="Kuala_Perlis">Menara Pandang Masjid Al-Hussain Kuala Perlis</option>
                    <option value="Kuala_Sg_Baru">Kuala Sungai Baru, Simpang Empat, Perlis</option>
                    <option value="Menara_Telekom">Menara Telekom, Alor Setar</option>
                    <option value="Pulau_Sayak">Kg. Pulau Sayak, Kuala Muda</option>
                    <option value="Pemandangan_Indah">Pemandangan Indah, Langkawi</option>
                    <option value="Pasir_Panjang">Pantai Pasir Panjang, Manjung</option>
                    <option value="BCSelangor">Balai Cerap Selangor, Sabak Bernam</option>
                    <option value="BKTMalawati">Bukit Malawati, Kuala Selangor</option>
                    <option value="BKTJugra">Bukit Jugra, Banting</option>
                    <option value="MenaraKL">Menara Kuala Lumpur</option>
                    <option value="PICC">Putrajaya International Convention Centre (PICC), Putrajaya</option>
                    <option value="BCTK">Balai Cerap Teluk Kemang, Port Dickson</option>
                    <option value="KFAK">Kompleks Falak Al-Khawarizmi, Tg. Bidara</option>
                    <option value="PontianKecil">Bangunan Sultan Ismail, Pontian Kecil</option>
                    <option value="BKTTanjungBatu">Bukit Tanjung Batu, Nenasi, Pekan</option>
                    <option value="BKTPelindung">Bukit Pelindung, Kuantan</option>
                    <option value="GNGBrinchang">Gunung Brinchang, Cameron Highlands</option>
                    <option value="BKTGeliga">Bukit Geliga, Kemaman</option>
                    <option value="BKTBesar">Bukit Besar, Kuala Terengganu</option>
                    <option value="BCUnisza">Balai Cerap UNISZA, Merang, Setiu</option>
                    <option value="PPerhentian">Pulau Perhentian, Besut</option>
                    <option value="SEDC">Menara State Economic Development Corporation (SEDC), Kota Bharu</option>
                    <option value="BKTPeraksi">Bukit Peraksi, Pasir Puteh</option>
                    <option value="BKTKGTembeling">Bukit Kampung Tembeling, Kuala Krai</option>
                    <option value="PantaiMekMas">Pantai Mek Mas</option>
                    <option value="BCAB">Balai Cerap Al-Biruni, Tg. Dumpil, Putatan</option>
                    <option value="MUMSabah">Menara Universiti Malaysia Sabah, Kampus Antarabangsa Labuan</option>
                    <option value="PFM">Pusat Falak Miri (Luak Esplanade, Miri), Miri</option>
                    <option value="TanjungBatu">Tanjung Batu, Bintulu</option>
                    <option value="TelukBandung">Teluk Bandung, Kuching</option>
                </select>
            </div>
            <div class="row pt-3">
                <div class="col-md-4">
                    <label for="pilihan" class="form-label">Pilih Jenis Data</label>
                    <select class="form-select form-select-lg mb-3" name="pilihan" id="pilihan">
                        {% if pilihan == 'dataHilalRingkas' %}
                        <option selected value="dataHilalRingkas">Data Hilal Ringkas</option>
                        <option value="PerbandinganElongasi">Perbandingan Jarak Lengkung dan Fasa Bulan</option>
                        <option value="dataHilalPenuh">Data Hilal Penuh</option>
                        {% elif pilihan == 'PerbandinganElongasi' %}
                        <option selected value="PerbandinganElongasi">Perbandingan Jarak Lengkung dan Fasa Bulan</option>
                        <option value="dataHilalRingkas">Data Hilal Ringkas</option>
                        <option value="dataHilalPenuh">Data Hilal Penuh</option>
                        {% elif pilihan == 'dataHilalPenuh' %}
                        <option selected value="dataHilalPenuh">Data Hilal Penuh</option>
                        <option value="dataHilalRingkas">Data Hilal Ringkas</option>
                        <option value="PerbandinganElongasi">Perbandingan Jarak Lengkung dan Fasa Bulan</option>
                        {% else %}
                        <option selected value="dataHilalRingkas">Data Hilal Ringkas</option>
                        <option value="PerbandinganElongasi">Perbandingan Jarak Lengkung dan Fasa Bulan</option>
                        <option value="dataHilalPenuh">Data Hilal Penuh</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="topo_pilihan" class="form-label">Pilih titik rujukan</label>
                    <select class="form-select form-select-lg mb-3" name="topo_pilihan" id="topo_pilihan">
                        {% if topo == 'geocentric' %}
                        <option selected value="geocentric">Geosentrik</option>
                        <option value="topocentric">Toposentrik</option>
                        {% else %}
                        <option selected value="topocentric">Toposentrik</option>
                        <option value="geocentric">Geosentrik</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="pt-2">
                <button type="submit" class="btn btn-primary">Hitung</button>
            </div>

        </div>
    </form>
    <div id="locationResult" hidden></div>
    <hr>
    <br>
    <div>
        {% if pilihan == 'dataHilalRingkas' %}
        <h2>Data Hilal</h2>
        <p>Tarikh: {{parsed_date}}</p>
        <p>Rujukan: {{topo}}</p>
        <div class="row pt-3">
            <div class="col-md-6">
                <table class="table table-bordered table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Nilai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Maghrib</td>
                            <td>{{maghrib}}</td>
                        </tr>
                        <tr>
                            <td>Bulan Terbenam</td>
                            <td>{{moon_set}}</td>
                        </tr>
                        <tr>
                            <td>Ijtimak</td>
                            <td>{{ijtimak}}</td>
                        </tr>
                        <tr>
                            <td>Umur Bulan</td>
                            <td>{{moon_age}}</td>
                        </tr>
                        <tr>
                            <td>Jarak Lengkung</td>
                            <td>{{elongation}}</td>
                        </tr>
                        <tr>
                            <td>Matahari Terbit</td>
                            <td>{{sun_rise}}</td>
                        </tr>
                        <tr>
                            <td>Bulan Terbit</td>
                            <td>{{moon_rise}}</td>
                        </tr>
                        <tr>
                            <td>Altitud Bulan</td>
                            <td>{{altitude}}</td>
                        </tr>
                        <tr>
                            <td>Nisbah Jarak Bulan</td>
                            <td>{{moon_distance_ratio}}</td>
                        </tr>
                        <tr>
                            <td>Beza Azimut</td>
                            <td>{{azimuth_difference}}</td>
                        </tr>
                        <tr>
                            <td>Kecerahan</td>
                            <td>{{illumination}}</td>
                        </tr>
                        <tr>
                            <td>Tempoh Bulan Terbenam</td>
                            <td>{{lag_time}}</td>
                        </tr>
                        <tr>
                            <td>Lebar Hilal</td>
                            <td>{{crescent_width}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Kriteria</th>
                            <th scope="col">Nilai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Odeh 2004</td>
                            <td>{{odeh}}</td>
                        </tr>
                        <tr>
                            <td>Yallop 1997</td>
                            <td>{{yallop}}</td>
                        </tr>
                        <tr>
                            <td>Mabims 2021</td>
                            <td>{{mabims2021}}</td>
                        </tr>
                        <tr>
                            <td>Malaysia 2013</td>
                            <td>{{malaysia2013}}</td>
                        </tr>
                        <tr>
                            <td>Muhammadiyyah</td>
                            <td>{{muhammadiyah}}</td>
                        </tr>
                        <tr>
                            <td>Istanbul 1978</td>
                            <td>{{istanbul78}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                {% if gambar_Hilal %}
                <h4>Simulasi Langit</h4>
                <img src="data:image/png;base64,{{ gambar_Hilal }}" alt="Simulasi hilal tidak bersesuaian pada tarikh ini" class="responsive-img">
                {% endif %}
            </div>
        </div>

        {% elif pilihan == 'PerbandinganElongasi' %}
        <div>
            <h2>Perbandingan Fasa Bulan dan Jarak Lengkung</h2>
            <p>Tarikh: {{parsed_date}}</p>
            <p>Rujukan: {{topo}}</p>
            <div class="row-p-2">
                <div class="col-md-4">
                    <table class="table table-bordered table-striped-columns">
                        <thead>
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Nilai</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fasa Bulan</td>
                                <td>{{fasa}}</td>
                            </tr>
                            <tr>
                                <td>Jarak Lengkung</td>
                                <td>{{elong}}</td>
                            </tr>
                            <tr>
                                <td>Jarak Lengkung Minimum (Tarikh)</td>
                                <td>{{elong_min}}</td>
                            </tr>
                            <tr>
                                <td>Ijtimak</td>
                                <td>{{conj}}</td>
                            </tr>
                            <tr>
                                <td>Jarak Lengkung Maksimum (Tarikh)</td>
                                <td>{{elong_max}}</td>
                            </tr>
                            <tr>
                                <td>Purnama</td>
                                <td>{{opp}}</td>
                            </tr>
                            <tr>
                                <td>Jarak Lengkung Minimum (Sudut)</td>
                                <td>{{sudut_min}}</td>
                            </tr>
                            <tr>
                                <td>Jarak Lengkung Maksimum (Sudut)</td>
                                <td>{{sudut_max}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% elif pilihan == 'dataHilalPenuh' %}
        <div>
            {% if efemeris_hilal == None %}
            <h2>Efemeris hilal</h2>
            <p>Efemeris hilal tidak sesuai dijana pada {{parsed_date}}</p>
            <p>Sila cuba pada hari ijtimak, atau hari selepasnya. Ijtimak berlaku pada: {{ijtimak}}</p>
            {% else %}
            <h2>Efemeris Hilal</h2>
            <p>Tarikh: {{parsed_date}}</p>
            <p>Rujukan: {{topo}}</p>
            <p>Maghrib: {{maghrib}}</p>
            <p>Bulan Terbenam: {{moon_set}}</p>
            <div class="pt-2">
                <table class="table table-bordered table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Waktu</th>
                            <th scope="col">Jarak Lengkung(°)</th>
                            <th scope="col">Alt Bulan(°)</th>
                            <th scope="col">Az Bulan(°)</th>
                            <th scope="col">Alt Matahari(°)</th>
                            <th scope="col">Az Matahari(°)</th>
                            <th scope="col">Kecerahan (%)</th>
                            <th scope="col">Lebar Hilal (')</th>
                            <th scope="col">Beza Altitud(°)</th>
                            <th scope="col">ARCV (°)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(efemeris_hilal|length) %}
                        <tr>
                            <td>{{efemeris_hilal.index[i]}}</td>
                            <td>{{efemeris_hilal["Elongasi"][i]}}</td>
                            <td>{{efemeris_hilal["Alt Bulan"][i]}}</td>
                            <td>{{efemeris_hilal["Az Bulan"][i]}}</td>
                            <td>{{efemeris_hilal["Alt Matahari"][i]}}</td>
                            <td>{{efemeris_hilal["Az Matahari"][i]}}</td>
                            <td>{{efemeris_hilal["Illuminasi bulan(%)"][i]}}</td>
                            <td>{{efemeris_hilal["Lebar Hilal"][i]}}</td>
                            <td>{{efemeris_hilal["DAZ"][i]}}</td>
                            <td>{{efemeris_hilal["ARCV"][i]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const selectElement = document.getElementById('pilihan');
        const pressureContainer = document.getElementById('pressure-container');

        selectElement.addEventListener('change', function() {
            if (this.value === 'Bulan') {
                pressureContainer.innerHTML = `
                    <select class="form-select form-select-lg mb-3" name="topo_pilihan" id="topo_pilihan">
                    <option selected value="topocentric">Toposentrik</option>
                    <option value="geocentric">Geosentrik</option>
                  </select>
                `;
            } else {
                pressureContainer.innerHTML = '';
            }
        });
    });
    document.getElementById("lokasi_rasmi").addEventListener("change", function() {
        var lokasi_rasmi = this.value;
        var latitudeInput = document.getElementById("latitud");
        var longitudeInput = document.getElementById("longitud");
        var elevationInput = document.getElementById("elevation");

        if (lokasi_rasmi == "PFST") {
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.4114");
            longitudeInput.setAttribute("value", "100.19672");
            elevationInput.setAttribute("value", "40");
        }
        else if (lokasi_rasmi == "Malindo"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.338354");
            longitudeInput.setAttribute("value", "100.1945");
            elevationInput.setAttribute("value", "3");
        }
        else if (lokasi_rasmi == "Kuala_Perlis"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "6.396389");
            longitudeInput.setAttribute("value", "100.1275");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "Menara_Telekom"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "6.12430278");
            longitudeInput.setAttribute("value", "100.3674528");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "Pulau_Sayak"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.65491944");
            longitudeInput.setAttribute("value", "100.3318111");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "Pemandangan_Indah"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "6.33609167");
            longitudeInput.setAttribute("value", "99.741475");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "Pasir_Panjang"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "6.12430278");
            longitudeInput.setAttribute("value", "100.3674528");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BCSelangor"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "3.81893611");
            longitudeInput.setAttribute("value", "100.8143472");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTMalawati"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "3.34166944");
            longitudeInput.setAttribute("value", "101.2445917");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTJugra"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "2.83587778");
            longitudeInput.setAttribute("value", "101.4170583");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "MenaraKL"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "3.152825");
            longitudeInput.setAttribute("value", "101.7037111");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "PICC"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "2.89449167");
            longitudeInput.setAttribute("value", "101.6766833");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BCTK"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "2.44543333");
            longitudeInput.setAttribute("value", "101.8542028");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "KFAK"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "2.29398611");
            longitudeInput.setAttribute("value", "102.0834417");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "PontianKecil"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "1.48781389");
            longitudeInput.setAttribute("value", "103.3872028");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTTanjungBatu"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "3.20582222");
            longitudeInput.setAttribute("value", "103.4449139");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTPelindung"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "3.83124444");
            longitudeInput.setAttribute("value", "103.361075");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "GNGBrinchang"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "4.51733889");
            longitudeInput.setAttribute("value", "101.3825806");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTGeliga"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "4.20641944");
            longitudeInput.setAttribute("value", "103.4359222");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTBesar"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.30681667");
            longitudeInput.setAttribute("value", "103.1344528");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BCUnisza"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.53542222");
            longitudeInput.setAttribute("value", "102.9467639");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "PPerhentian"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.91522778");
            longitudeInput.setAttribute("value", "102.7156583");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "SEDC"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "6.12873889");
            longitudeInput.setAttribute("value", "102.2348222");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTPeraksi"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.85749444");
            longitudeInput.setAttribute("value", "102.4825389");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BKTKGTembeling"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.25456667");
            longitudeInput.setAttribute("value", "102.2686");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "BCAB"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.90428333");
            longitudeInput.setAttribute("value", "116.0386722");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "MUMSabah"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "5.27851667");
            longitudeInput.setAttribute("value", "115.1734806");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "PFM"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "4.31610278");
            longitudeInput.setAttribute("value", "113.9611556");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "TanjungBatu"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "3.21345278");
            longitudeInput.setAttribute("value", "113.0488194");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "TelukBandung"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "1.75305833");
            longitudeInput.setAttribute("value", "110.3147444");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "Kuala_Sg_Baru"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "6.328244");
            longitudeInput.setAttribute("value", "100.156306");
            elevationInput.setAttribute("value", "0");
        }
        else if (lokasi_rasmi == "PantaiMekMas"){
            latitudeInput.removeAttribute("required");
            longitudeInput.removeAttribute("required");
            elevationInput.removeAttribute("required");
            latitudeInput.setAttribute("readonly", "readonly");
            longitudeInput.setAttribute("readonly", "readonly");
            elevationInput.setAttribute("readonly", "readonly");
            latitudeInput.setAttribute("value", "6.215556");
            longitudeInput.setAttribute("value", "102.243333");
            elevationInput.setAttribute("value", "0");
        }
        else {
            latitudeInput.setAttribute("required", "required");
            longitudeInput.setAttribute("required", "required");
            elevationInput.setAttribute("required", "required");
            latitudeInput.removeAttribute("readonly");
            longitudeInput.removeAttribute("readonly");
            elevationInput.removeAttribute("readonly");
        }
    });
</script>
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("ketepatanlokasi").value = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude.toFixed(4);;
        var longitude = position.coords.longitude.toFixed(4);;
        var elevation = position.coords.altitude.toFixed(1);;
        var accuracy = position.coords.accuracy.toFixed(1);
        var altitudeAccuracy = position.coords.altitudeAccuracy.toFixed(1);
        document.getElementById("latitud").value = latitude;
        document.getElementById("longitud").value = longitude;
        document.getElementById("elevation").value = elevation;
        document.getElementById("ketepatanlokasi").value =
            "Ketepatan(m): " + accuracy;
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("ketepatanlokasi").value = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("ketepatanlokasi").value = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("ketepatanlokasi").value = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("ketepatanlokasi").value = "An unknown error occurred.";
                break;
        }
    }
</script>

{% endblock %}