{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
</style>
<div class="mt-3">
    <h3 class="text-center">
        <u>
            Tentang Kami
        </u>
    </h3>
    <p class="text-center">
        Laman SahabatFalak ini dibina oleh ahli Sahabat Falak secara sukarela
    </p>
  </div>
  <div class="mt-3">
      <h3 class="text-center">
          <u>
              Our Team
          </u>
      </h3>
      <div class="row">
        <div class="col-md">
            <img class="center" src="https://avatars.githubusercontent.com/u/86476334?v=4" alt="Izzat-Memoji">
            <div class="text-center">
                <p class="text-center">Izzat Zubir</p>
                <p class="text-center">Graduan Fizik dan Astronomi dari USM, kini bekerja sebagai jurutera perisian
                    (software engineer)
                </p>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}