{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="mt-3">
    <h3 class="text-center">
        <u>
            About Us
        </u>
    </h3>
    <p class="text-center">
        Sahabat Falak adalah sebuah persatuan di bawah Jabatan Mufti Negeri Pulau Pinang
    </p>
  </div>
  <div class="mt-3">
      <h3 class="text-center">
          <u>
              Our Team
          </u>
      </h3>
      <div class="row">
        <div class="col-4 offset-4">
            <img class="image__img" src="https://avatars.githubusercontent.com/u/86476334?v=4" alt="Izzat-Memoji">
            <div class="image__overlay">
                <div class="image__title">
                    <p class="text-center">Izzat Zubir</p>
                </div>
                <p class="image__description text-center">Graduan Fizik dan Astronomi dari USM, kini bekerja sebagai jurutera perisian
                    (software engineer)
                </p>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}